
<div class="content-quote">
  <%= @quote.content %>

</div>




<div class="form">
<%= simple_form_for [@quote, @comment]  do |f| %>
    <p>Your name/nickname:</p>
    <%= f.input :author, label: false %>
    <p>Your comment:</p>
    <%= f.input :text, label: false %>

  <%= f.submit "Save", class: "btn btn-default btn-primary" %>
<% end %>
</div>


<div class="others">
  <p>
    Other people's opinions:
  </p>
</div>
      <div class="users-comments">
      <% @quote.comments.each do |c| %>
       <div class=comments-and-authors>
        <div class="content-comment">"<%= c.text %>"</div>
        <div class="author-comment">written by: <%= c.author %>, <%= c.created_at.strftime("%m/%d/%Y") %></div>
      </div>
      <% end %>
    </div>
